<nav class="navbar navbar-expand-lg bg-primary text-white" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/—Pngtree—yellow movie ticket_7485375.png"
                style="height: 60px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active fs-5" aria-current="page" href="/src/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" routerLink="about" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" routerLink="contact" routerLinkActive="active">Contact</a>
                </li>
                

            </ul>
            <form class="d-flex">
                <input class="form-control me-3 border border-3 border-tertiary rounded-3" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-danger" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
