<div class="main-cont">
  <div class="left-div">
    <div class="languages">
      <h6 class="text-white">Languages</h6>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white" for="flexCheckDefault">
          English
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white" for="flexCheckDefault">
          Hindi
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white" for="flexCheckDefault">
          Marathi
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white" for="flexCheckDefault">
          Japnese
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white" for="flexCheckDefault">
          Tamil
        </label>

      </div>
    </div>
    <div class="genre">
      <h6 class="text-white">Genre</h6>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white" for="flexCheckDefault">
          Action
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white" for="flexCheckDefault">
          Comedy
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white" for="flexCheckDefault">
          Romance
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white" for="flexCheckDefault">
          Sci-fi
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-white " for="flexCheckDefault">
          Animation
        </label>

      </div>
      <div class="clearbtn">
        <button (click)='clearCheckboxes()' class="btn btn-outline-danger btn-sm ">Clear filter</button>
      </div>

    </div>
  </div>


  <div class="right-div">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="/assets/wp10947950-hollywood-2022-movies-poster-wallpapers.jpg" class="card-img-top" width="100px" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Batman </h5>
            <p class="card-text">When a sadistic serial killer begins murdering key political figures in Gotham, Batman is forced to investigate the city's hidden corruption and question his family's involvement.</p>
          </div>
          <div class="card-footer text-center">
            <div class="btn btn-primary btn-sm"> Book Now !</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/assets/wp10947968-hollywood-2022-movies-poster-wallpapers.jpg" class="card-img-top" width="100px" alt="...">
          <div class="card-body">
            <h5 class="card-title">Morbius </h5>
            <p class="card-text">Biochemist Michael Morbius tries to cure himself of a rare blood disease, but he inadvertently infects himself with a form of vampirism instead.</div>
          <div class="card-footer text-center">
            <div class="btn btn-primary btn-sm"> Book Now !</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/assets/wp10948126-hollywood-2022-movies-poster-wallpapers.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Lost Treasure </h5>
            <p class="card-text">Eddie Fox, a hustling treasure hunter, finds himself forced to embark on a journey into the jungle to prevent a power hungry egomaniac from finding an ancient weapon that could destroy the island.</div>
          <div class="card-footer text-center">
            <div class="btn btn-primary btn-sm"> Book Now !</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>