.main-cont{
    background-color: aqua;
    height: 600px;
    display: flex;
}
.left-div{
    display: inline-block;
    background-color: rgb(182, 141, 141);
    height: 550px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}
.right-div{
    display: inline-block;
    background-color: brown;
    height: 550px;
    width: 75vw;
    margin-top: 20px;
    margin-left: 30px;

}