<div class="main-cont">
    <div class="left-div">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Languages
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
    </div>
    <div class="right-div">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis veniam odit molestiae enim blanditiis accusamus ducimus. Totam, perspiciatis, obcaecati beatae deleniti omnis quod, odio sunt officiis necessitatibus provident quo magnam?

    </div>
</div>