
<div class="main-cont">
  <div class="left-div">
    <div class="languages">
      <h6>Languages</h6>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          English
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Hindi
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Marathi
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Japnese
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Tamil
        </label>

      </div>
    </div>
    <div class="genre">
      <h6>Genre</h6>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Action
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Comedy
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Romance
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Sci-fi
        </label>

      </div>
      <div class="form-check">
        <input class="form-check-input" name="filter" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Animation
        </label>

      </div>
      <div class="clearbtn">
        <button (click)='clearCheckboxes()' class="btn btn-outline-danger btn-sm">Clear filter</button>
      </div>

    </div>




  </div>
  <div class="right-div">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis veniam odit molestiae enim blanditiis accusamus
    ducimus. Totam, perspiciatis, obcaecati beatae deleniti omnis quod, odio sunt officiis necessitatibus provident quo
    magnam?

  </div>
</div>