.main-cont{
    
    height: 573px;
    display: flex;
}
.left-div{
    display: inline-block;
   border: 1px solid black;
   border-radius: 20px;
    height: 500px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}
.right-div{
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    width: 75vw;
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px;

}
.languages{
    padding: 20px;
    padding-bottom: 7px;
    margin-bottom: 0px;
}
.genre{
    padding: 20px;
    padding-top: 7px;
}
.clearbtn{
    margin-top: 20px;
}